<body>
    <div class="content">
        <h1>This is heading 1</h1>
        <h2>This is heading 2</h2>
        <h3>This is heading 3</h3>
        <h4>This is heading 4</h4>
        <h5>This is heading 5</h5>
        <h6>This is heading 6</h6>

        <p>This is some text in a paragraph. &#128517;</p>

        <a href="https://github.com/MiaHowie">This is A Link</a>

        <br>
        <button type="button">Button!</button>
        <br>
        <code>This is a code section</code>

        <br>

        <img src="/assets/img/wolf-meme.jpg" alt="wolf meme">

        <ol>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
        </ol>

        <ul>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
        </ul>

        <form>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1"> I have a bike</label><br>
            <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
            <label for="vehicle2"> I have a car</label><br>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
            <label for="vehicle3"> I have a boat</label>
        </form>


        <table>
            <thead>
                <tr>
                    <th> Headline 1 </th>
                    <th> Headline 2 </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Value 01</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Value 02</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Value 03</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Value 04</td>
                    <td>4</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
